body {
    width: 100vh;
    height: 100vh;
    background: url("fondo_general.png") no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
div{
    display: inline;
}
.nombre{
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    text-align: left;
}
.img{
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.div_titulo{
    text-align: center;
    position: relative;
    top:10%;
    left: 15%;
}

.titulo{
    font-family: 'Fira Sans', sans-serif;
    line-height: 48px;
    font-weight: 400;
    font-size: 30px;
}

.input_1{
    text-align: center;
    margin: 10%;
    position: relative;
    top: 100px;
    left: 30%
}

.nombre_input{
    color: white;
    background-color: rgba(160, 102, 203, 1);
    width: 50%;
    height: 35px;
    border-radius: 50px;
    font-size: 100%;
    text-align: center;
    background-image: url(usuario.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: left center;
}
.nombre_input::placeholder{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 25px;
}
.input_2{
    text-align: center;
    margin: 10%;
    position: relative;
    top: 140px;
    left: 30%;
}

.contra_input{
    color: white;
    background-color: #86C7ED;
    width: 50%;
    height: 35px;
    border-radius: 50px;
    font-size: 100%;
    text-align: center;
    background-image: url(candado-abierto.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: left center;
}
.contra_input::placeholder{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 25px;

}
.boton{
    text-align: center;
    position: relative;
    top: 160px;
    left: 40%;
}
button:focus{
    outline: 0;
}
.enviar{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 150%;
    margin: 10%;
    width: 30%;
    height: 5%;
    background: #1833B2;
    border-radius: 50px;
    cursor: pointer;
    border-color: white;
    transition: box-shadow 0.2s ease-in-out;
}
.enviar:hover{
    box-shadow: 0 0 50px 50px rgba(143, 162, 248, 1) inset;
}
/*.enviar::placeholder{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 15px;
}*/
.checkbox{
    display: none;
}
label{
    display: inline-block;
    font-family:'Fira Sans', sans-serif;
    position: relative;
    top: 80px;
    left: -10%;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px 5px 40px;
}
label:hover{
    background: rgba(134, 199, 237, 1);
}
label::before{
    content: "";
    width: 13px;
    height: 13px;
    display: inline-block;
    border: 2px solid black;
    position: absolute;
    left: 15px;
    top: 5px;
    border-radius: 3px;
}

.checkbox:checked + label{
    padding: 5px 10px;
    background: rgba(209, 155, 249, 1);
    border-radius: 5px;
    color: white;
}
.checkbox:checked + label:before{
    display: none;
}