body {
    width: 100%;
    height: 100%;
    background: url("fondo_general.png") no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
}
.nombre{
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: large;
}
img{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    margin-left: 2%;
}

.div_titulo{
    text-align: center;
    position: relative;
    left: 20%;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.titulo{
    Font-family: Fira Sans;
    Font-style: Bold;
    Font-size: 48px;
    Line-height: 84px;
    Line-height: 100%;
    Vertical-align: Center;
    justify-content: center;
    align-items: center;
    display: inline;
}
.div_formulario{
    /*width: 100vh;*/
    font-family: 'Fira Sans Condensed', sans-serif;
    display: inline;
    align-items: center;
    flex-wrap: nowrap;
    margin:none;

}

.formulario{
    position: relative;
    left: 15%;
    padding: 10% 0%;
    flex-direction: column;
    width: 100vh;
    top: -100px;
}
input{
    background: #86C7ED;
    border-radius: 50px;
    border: none;
    width: 90%;
    height: 30px;
    color: white;
    text-align: center;
    font-size: large;
}
td{
    padding: 15px;
}
.boton1{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    width: 220px;
    height: 38px;
    background-color: rgba(160, 102, 203, 1);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    border-color: white;
    transition: box-shadow 0.2s ease-in-out;
    border: none;
}

.boton1:hover{
    box-shadow: 0 0 50px 50px rgba(209, 155, 249, 1) inset;
}

.bogton2{
    position: relative;
    top: -30vh;
    left: 80vh;
}

.bogton1{
    position: relative;
    left: 30vh;
    top: -24vh;
}