body {
    width: 100%;
    height: 100%;
    background: url("fondo_general_uwu.png") no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
margin: 0;
}
div{
    display: flex;
}
.nombre{
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    text-align: left;
}
.img{
    margin-right: 10px;
    height: 2%;
    width: 2%;
    position: relative;
    top: 5px;
    margin-left: 2%;
}

.div_titulo{
    text-align: center;
    position: relative;
    left: 35%;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.titulo{
    Font-family: Fira Sans;
    Font-style: Bold;
    Font-size: 48px;
    Line-height: 84px;
    Line-height: 100%;
    Vertical-align: Center;
    justify-content: center;
    align-items: center;
    display: inline;
}
.formulario{
    /*width: 100vh;*/
    font-family: 'Fira Sans Condensed', sans-serif;
    display: inline;
    align-items: center;
    flex-wrap: nowrap;
    margin:none;

}

.formulario_izq{
    position: relative;
    left: 5%;
    padding: 10% 0%;
    flex-direction: column;
    width: 100vh;
    top: -100px;
}

.formulario_dere{
    position: relative;
    right: -40%;
    flex-direction: column;
    width: 9    0vh;
    top: -85vh;
}
/*.div_flex{
}*/
input{
    background: #86C7ED;
    border-radius: 50px;
    border: none;
    width: 90%;
    height: 30px;
    color: white;
    text-align: center;
    font-size: large;
}

.boton1{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    width: 220px;
    height: 38px;
    background-color: rgba(160, 102, 203, 1);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    border-color: white;
    transition: box-shadow 0.2s ease-in-out;
    border: none;
}

.boton1:hover{
    box-shadow: 0 0 50px 50px rgba(209, 155, 249, 1) inset;
}

.bogton2{
    position: relative;
    top: -70vh;
    left: 100vh;
}

.bogton1{
    position: relative;
    left: 50vh;
    top: -64vh;
}
td{
    padding: 15px;
}
.libreta{
    border: 2px solid black;
    border-collapse: collapse;
    background: white;
    width: 70vh;
}
.libret{
    border: 1px solid black;
    height: 5vh;
}
.div_libreta{
    position: relative;
    top: -75vh;
    left: 100vh;
}